body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
span,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.titulos {
  background-color: #5b3c88;
  color: #ffffff;
  margin: 0px;
}

.linkJW {
  display: block;
  color: #ffffff;
  font-size: 2rem;
  place-self: center right;
  padding: 10px;
}

.bordas {
  border: #5b3c88 solid 2px;
}

.bordasarredondadas {
  border-radius: 6px;
}

.margem {
  margin: 10px;
}

.margemdebaixo {
  margin-bottom: 10px;
}

.margemdireita {
  margin-right: 10px;
}

.margemtopo {
  margin-top: 10px;
}

.padding {
  padding: 10px;
}

.entrelinhas {
  line-height: 1.5;
}

.expandecolunas {
  grid-column: 1 / -1;
}

.expandelinhas {
  grid-row: 1 / -5;
}

.negrito {
  font-weight: bold;
}

.italico {
  font-style: italic;
}

.centralizado {
  text-align: center;
}

.esquerda {
  text-align: left;
}

.justificado {
  text-align: justify;
}
